.panelSize {
  max-width: 40vw !important;
}
@media all and (min-width:569px) and (max-width: 900px) {
  .panelSize {
    max-width: 100vw !important;
  }
}
@media all and (min-width:481px) and (max-width: 568px) {
  .panelSize {
    max-width: 100vw !important;
  }

}
@media all and (min-width:321px) and (max-width: 480px) {
  .panelSize {
    max-width: 100vw !important;
  }
}
@media all and (min-width:0px) and (max-width: 320px) {
  .panelSize {
    max-width: 100vw !important;
  }
}
