@import "variables";
@include mat-core();
$custom-typography: mat-typography-config($font-family: '"Poppins", sans-serif;');
@include mat-core($custom-typography);
$sandwich-choice-ui-primary: mat-palette($primary, A700, A400, A200);
$sandwich-choice-ui-accent: mat-palette($accent, A700, A400, A200);
$sandwich-choice-ui-warn: mat-palette($warn, A700, A400, A200);
$sandwich-choice-ui-theme: mat-light-theme($sandwich-choice-ui-primary, $sandwich-choice-ui-accent, $sandwich-choice-ui-warn);
@include angular-material-theme($sandwich-choice-ui-theme);

