p {
  font-size: 15px;
  letter-spacing: 1px;
}
label {
  display: inline-block;
  margin-bottom: .5rem;
  font-weight: 500;
  letter-spacing: 1px;
}
a {
  color: #2abb9b;
  text-decoration: none;
  background-color: transparent;
}
.mat-h1, .mat-headline, .mat-typography h1 {
  font: 400 24px/32px "Poppins", sans-serif;
  letter-spacing: normal;
  margin: 0 0 16px;
  font-weight: 700;
  font-size: 27px;
}
