@import '../../../node_modules/@angular/material/theming';
/** Color variables **/
$primary: (
  50: rgba(2, 187, 155, 0.05),
  100: rgba(2, 187, 155, 0.2),
  200: rgba(2, 187, 155, 0.3),
  300: rgba(2, 187, 155, 0.4),
  400: rgba(2, 187, 155, 0.5),
  500: rgba(2, 187, 155, 0.6),
  600: rgba(2, 187, 155, 0.7),
  700: rgba(2, 187, 155, 0.8),
  800: rgba(2, 187, 155, 0.9),
  900: rgba(2, 187, 155, 1),
  A100: rgba(2, 187, 155, 0.2),
  A200: rgba(2, 187, 155, 0.4),
  A400: rgba(2, 187, 155, 0.6),
  A700: rgba(2, 187, 155, 1),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$secondary: (
  50: rgba(66, 67, 113, 0.1),
  100: rgba(66, 67, 113, 0.2),
  200: rgba(66, 67, 113, 0.3),
  300: rgba(66, 67, 113, 0.4),
  400: rgba(66, 67, 113, 0.5),
  500: rgba(66, 67, 113, 0.6),
  600: rgba(66, 67, 113, 0.7),
  700: rgba(66, 67, 113, 0.8),
  800: rgba(66, 67, 113, 0.9),
  900: rgba(66, 67, 113, 1),
  A100: rgba(66, 67, 113, 0.2),
  A200: rgba(66, 67, 113, 0.4),
  A400: rgba(66, 67, 113, 0.6),
  A700: rgba(66, 67, 113, 1),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$accent: (
  50: rgba(252, 135, 175, 0.1),
  100: rgba(252, 135, 175, 0.2),
  200: rgba(252, 135, 175, 0.3),
  300: rgba(252, 135, 175, 0.4),
  400: rgba(252, 135, 175, 0.5),
  500: rgba(252, 135, 175, 0.6),
  600: rgba(252, 135, 175, 0.7),
  700: rgba(252, 135, 175, 0.8),
  800: rgba(252, 135, 175, 0.9),
  900: rgba(252, 135, 175, 1),
  A100: rgba(252, 135, 175, 0.2),
  A200: rgba(252, 135, 175, 0.4),
  A400: rgba(252, 135, 175, 0.6),
  A700: rgba(252, 135, 175, 1),
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);
$warn: (
  50: #c10021,
  100: #b00020,
  200: #b00020,
  300: #b00020,
  400: #b00020,
  500: #b00020,
  600: #b00020,
  700: #b00020,
  800: #b00020,
  900: #b00020,
  A100: #b00020,
  A200: #b00020,
  A400: #b00020,
  A700: #b00020,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  )
);

