@import "variables";
/** Responsiveness styles **/
@import "responsive";
/** Font styles **/
@import "typograpghy";

html, body {
  height: 100%;
}
body {
  margin: 0;
  box-sizing: border-box;
  height: 100%;
}
*:focus {
  outline: none !important;
}
button:focus {
  outline: none !important;
}
button {
  border-radius: 40px !important;
}
.mat-drawer-container {
  background-color: #fff7e5;
  color: rgba(0, 0, 0, 0.87);
}

