<div class="container-fluid">
  <div *ngIf="orderOverview">
    <div class="row mb-4">
      <div class="col">
        <h1>Reorder sandwich</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <img [src]="data?.order.img" width="60%">
        <h2 class="text-center">{{data?.order.sandwich}}</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-6">
        <button mat-button mat-raised-button color="warn" class="w-100" (click)="cancelOrder()">Cancel</button>
      </div>
      <div class="col-6">
        <button mat-button mat-raised-button color="primary" class="w-100" (click)="confirmOrder()">Confirm reorder</button>
      </div>
    </div>
  </div>
  <div *ngIf="sendingOrder">
    <div class="row mb-4">
      <div class="col">
        <h1>Sending order</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <img src="assets/img/sending-order.gif" class="ordered-animation" width="60%">
        <h2 class="text-center">Your order is being sent to the kitchen.</h2>
      </div>
    </div>
  </div>
  <div *ngIf="orderConfirmed">
    <div class="row mb-4">
      <div class="col">
        <h1>Order placed</h1>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col">
        <img src="assets/img/ordered.gif" class="ordered-animation" width="80%">
        <h2 class="text-center">Thank you for your order - Enjoy your sandwich.</h2>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button mat-button mat-raised-button color="primary" class="w-100 confirm-order" routerLink="/order-history" (click)="finishOrder()">Order history</button>
      </div>
    </div>
  </div>
</div>
