@import "../../../assets/scss/variables";
.sandwich-card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87,.12), 0 3px 6px 0 rgba(0,0,0,.12);
  padding: 5%;
  cursor: pointer;
  &:hover {
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 22%);
    background: rgb(255 238 207);
  }
  .sandwich-image {
    img {
      width: 80%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .sandwich-content {
    h2 {
      font-size: 15px;
      letter-spacing: 1px;
      min-height: 120px;
      text-align: center;
      line-height: 25px;
      font-weight: 400;
    }
  }
}
