<div class="container-fluid mb-5">
  <div class="row mt-3 mb-3">
    <div class="col">
      <h1>Sandwich menu</h1>
      <p>Select the sandwich you would like to order.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-6 col-sm-6 col-md-3 col-lg-3 h-100" *ngFor="let sandwich of sandwiches">
      <div class="sandwich-card" (click)="placeOrder(sandwich)">
        <div class="sandwich-image">
          <img [src]="sandwich.img" width="50px">
        </div>
        <div class="sandwich-content">
          <h2>{{sandwich.name}}</h2>
        </div>
        <div class="sandwich-action">
          <button mat-button mat-raised-button color="primary" class="w-100">Select</button>
        </div>
      </div>
    </div>
  </div>
</div>
