<div class="container-fluid h-100">
  <div class="row">
    <div class="col">
      <img class="sign-in-logo" src="assets/img/login.svg">
    </div>
  </div>
  <mat-card class="login-box">
    <div class="row">
      <div class="col">
          <h1>Sign in</h1>
          <form class="form-sign-in" autocomplete="off">
            <div class="form-group">
              <label for="email">Email address</label>
              <input type="email" class="form-control" id="email" aria-describedby="emailHelp" tabindex="1" autofocus>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <a class="float-right" routerLink="/forgot-password">Forgot password?</a>
              <input type="password" class="form-control" id="password" tabindex="2">
            </div>
            <button mat-button mat-raised-button color="primary" class="w-100" (click)="submit()">Continue</button>
          </form>
      </div>
    </div>
  </mat-card>
</div>

