.sign-in-logo {
  padding-top: 64px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 150px;
  margin-bottom: -38px;
}
.container-fluid {
  background-color: #fff7e5;
}
.login-box {
  margin: 0px auto;
  width: 100%;
  max-width: 448px;
  z-index: 1;
  padding: 48px 48px 48px;
  border-radius: 20px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87,.12), 0 3px 6px 0 rgba(0,0,0,.12);
}
@media (max-width: 500px) {
  .sign-in-logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80px;
    margin-bottom: 15px !important;
    margin-top: 0px;
  }
  .container-fluid {
    background-color: #fff7e5;
    background-image: none;
  }
  .mat-card {
    background-color: #fff7e5;
  }
  .mat-card:not([class*=mat-elevation-z]) {
    box-shadow:none;
  }
  .login-box {
    padding: 0px;
  }
}
