@import "../../../assets/scss/variables";
.auto-order-card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87,.12), 0 3px 6px 0 rgba(0,0,0,.12);
  padding: 20px;
  span {
    color: mat-color($primary, 900);
  }
}
