<div class="container-fluid">
  <div class="row mt-3 mb-3">
    <div class="col">
      <h1>Auto order</h1>
      <p>Always eating the same sandwich? Save time and set up a daily auto order.</p>
    </div>
  </div>
  <div class="auto-order-card">
    <div class="row">
      <div class="col-12 col-md-5">
        <label class="d-block">Select sandwich <span>*</span></label>
        <mat-form-field appearance="legacy" class="w-100">
          <mat-select >
            <mat-option *ngFor="let sandwich of sandwiches" [value]="sandwich.name">
              {{sandwich.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-5">
        <label class="d-block">Select back up sandwich <span>*</span></label>
        <mat-form-field appearance="legacy" class="w-100">
          <mat-select>
            <mat-option *ngFor="let sandwich of sandwiches" [value]="sandwich.name">
              {{sandwich.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-12 col-md-2">
        <button mat-button mat-raised-button color="primary" class="w-100 mt-4" (click)="setAutoOrder()">Enable</button>
      </div>
    </div>
  </div>
</div>
