.order-history-card {
  background-color: white;
  border-radius: 20px;
  margin-bottom: 20px;
  box-shadow: 0 7px 14px 0 rgba(60,66,87,.12), 0 3px 6px 0 rgba(0,0,0,.12);
  padding: 10px;
  .order-button {
    float: right;
    margin-top: 20px;
  }
  .order-date {
    margin-left: 15px;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 700;
    opacity: 0.7;
    margin-top: 10px;
  }
}
@media all and (min-width:0px) and (max-width: 950px) {
  .order-history-card {
    .order-button {
      float: none;
      margin-top: 0px;
      margin-bottom: 10px;
      display: block;
      margin-left: auto;
      width: 100%;
    }
  }
}
