<div class="container-fluid mb-5">
  <div class="row mt-3 mb-3">
    <div class="col">
      <h1>Order history</h1>
      <p>A list of your order history.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-12" *ngFor="let order of orders">
      <div class="order-history-card">
          <div class="order-date">
            <div>{{order.date}}</div>
          </div>
          <div class="d-inline-block mr-2">
            <img [src]="order.img"  width="100px">
          </div>
          <div class="d-inline-block">
            <p>{{order.sandwich}}</p>
          </div>
          <button mat-button mat-raised-button color="primary" class="order-button" (click)="reorder(order)">Reorder</button>
        </div>
      </div>
  </div>
</div>

