<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Sandwich UI</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/select-sandwich" routerLinkActive="active-link">
        <mat-icon matSuffix [style.margin-right]="'15px'">restaurant</mat-icon>
        Sandwiches
      </a>
      <a mat-list-item routerLink="/order-history" routerLinkActive="active-link">
        <mat-icon matSuffix [style.margin-right]="'15px'">history</mat-icon>
        Order history
      </a>
      <a mat-list-item routerLink="/auto-order" routerLinkActive="active-link">
        <mat-icon matSuffix [style.margin-right]="'15px'">autorenew</mat-icon>
        Auto order
      </a>
      <a mat-list-item routerLinkActive="active-link" (click)="logout()" class="log-out">
        <mat-icon matSuffix [style.margin-right]="'15px'">login</mat-icon>
        Sign out
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <img src="assets/img/menu.svg" width="20px">
      </button>
      <div class="nav-button"></div>
      <mat-icon class="nav-icon mr-1" color="primary">face</mat-icon>
      <div class="username-tag">Jonathan Anastasi</div>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
