@import "../../assets/scss/variables";
.sidenav-container {
  height: 100%;
}
mat-toolbar {
  background-color: #fff7e5;
  .mat-icon {
    color: #2abb9b;
  }
}
.sidenav {
  width: 250px;
  background-color: #fff7e5;
  border: none;
  padding-right: 20px;
}
.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
.active-link {
  color: #ffffff !important;
  font-weight: 700 !important;
  background-color: mat-color($primary, 900);
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}
.nav-button {
  margin-left: auto;
}
.username-tag {
  font-size: 14px;
  letter-spacing: 1px;
}
.mat-nav-list{
  a {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 14px;
    border-bottom: 1px solid #eadcc1;
  }
}
.mat-list-option:hover, .mat-list-option:focus, .mat-nav-list .mat-list-item:hover, .mat-nav-list .mat-list-item:focus, .mat-action-list .mat-list-item:hover, .mat-action-list .mat-list-item:focus {
  background: #76dcc5;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  color: white;
}
.log-out {
  position: absolute !important;
  bottom: 30px;
  border-bottom: none !important;
  border-top: 1px solid #eadcc1;
}
.mat-icon-button {
 width: 0px;
}
