<div class="confirmation-dialog">
  <h4 class="title" mat-dialog-title>{{data.title}}</h4>
  <div mat-dialog-content>
    <p *ngIf="data.text">{{data.text}}</p>
  </div>
  <div mat-dialog-actions class="float-right">
    <button mat-button mat-dialog-close>{{data.cancelButtonText}}</button>
    <button mat-raised-button mat-dialog-close (click)="dialogRef.close('continue')" color="primary">{{data.continueButtonText}}</button>
  </div>
</div>
